:root {
    --celeste:#00adb5;
    --oscuro:#222831;
    --claro:#393e46;
    --gris:#eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    padding: 0%;

}

.contenedor-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contenedor-ingresos {
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
    height: 80%;
    background-color: var(--oscuro);
}
.btn-ingresos {
    font-size: 2rem;
    width: 160px;
    border-radius: 10px;
    
}
.btn-ingresos:nth-child(1) {
    border-color: var(--celeste);
    color:var(--celeste);
    border-width: 3px;
}
.btn-ingresos:nth-child(1):hover {
    background-color: var(--celeste);
    color: var(--oscuro);
    border-color: var(--celeste);
    
    border-width: 3px;
}
.btn-ingresos:nth-child(2) {
    background-color: var(--celeste);
    color: var(--oscuro);
    border-color: var(--celeste);
    
    border-width: 3px;
}
.btn-ingresos:nth-child(2):hover {
    border-color: var(--celeste);
    color:var(--celeste);
    border-width: 3px;
    background-color: var(--oscuro);
}


.bg-light {
    background-color: var(--celeste) !important;
}

.btn-navbar {
    background-color: var(--celeste);
    border: none;
    color: var(--oscuro);
    font-weight: bold;
}
.btn-navbar:nth-child(1) {
    margin-right: 4px;
    border: none;
}
.nombre-app {
    color: var(--oscuro);
    font-weight: bold;
    margin-left: 30px;
}
#imagenNavbar{
    width: 40px;
    height: 40px;
}

#barraBusqueda{
    max-width: 465px;
}




/* cuerpo */

.carrusel {
    background-color: #393E46;
    height: auto;
    width: 100%;
}

.cuerpo {
    display: flex;
    height: inherit;
    
}

.filtros {
    background-color: #393E46;
    width: 30vw;
    height: auto;
    padding: 2em;
    color: beige;
}

.busquedas {
    background-color: #222831;
    width: -webkit-fill-available;
    height: auto;
    padding: 2em;
}


/* //cuerpo] */


.menuBusqueda{
    color: beige;
}
 /* //tarjetas */

 #imgTarjeta {
     max-height: 354px;
 }

 #unaTrajeta:hover{
     box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3) ;
 }
 

 /* modal  */
 #miModal{
     max-width: 75%;
 }

 #imgTarjetaModal{
     width: 100%;
     height: 100%;
 }
  .card.mb-3{
     width: 100%;
     max-width: initial;
 }
 #modalFooter{
     display: block;
     overflow: scroll;
 }
 /* #modalFooter::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    } */
 
 #cuerpoModal{
     padding: 0;
 }
 #cardBody{
     padding: 0;
     height: 100%;
     border: 0;
 }
 #cardCaja{
     border: 0;
    }
#modalHeader, #cardMb-3{
        
        border: 0;
 }
 #cardMb-3{
     margin: 0 !important;
 }
 #modalContent {
    height: 90vh !important;
    overflow: auto;
    position: relative;
 }
 #btnClose{
     position: absolute;
     right: 11px;
     z-index: 20;
     top: 11px;
 }

 /* //carusel */


 #containerCarrousel{
     height: 316px;
     position: relative;
 }
 #containerCarrousel .carrusel,
 #containerCarrousel .carrusel #carouselExampleSlidesOnly,
 #containerCarrousel .carrusel #carouselExampleSlidesOnly .carousel-inner
  {
     height: 100%;

 }
 #botonPublicar{
     position: absolute;
     right: 22px;
     top: 9px;
     z-index: 2000;
 }