    /* formularioProducto */

    .form-productos{
        width: 42%;
        margin-right: 10vw;
    margin-left: 6vw;
    margin-top: 7vh;
    }

    .labelForm {
        color: #eeeeee;
        
    font-size: 1.8rem;
    font-weight: bolder;

    }

    .labelCheckForm {
        color: #eeeeee;
    }

    .controlForm {
        width: 50%;
    }

    .selectForm{
        width: 50%;
    }

    .imagen-descarga {
        
    margin-top: 10vh;

    }

    .imagen-descarga h4{
        color: #eeeeee;
    }

    .imagen-opcional {
        background-color: #eeeeee;
        width: 35vh;
        height: 35vh;
        display: flex;
        border-radius: 30px;
        
    margin: auto;
    margin-top: 7vh;
    margin-bottom: 2vh;

    
    }

    .imagensrc {
        position: relative;
        width: 100%;
        text-align: center;
    }

#pruebasrc{
    position: relative;
    
    height: 100%;
    object-fit: cover;
    object-position: center center;

}


    #ingresarImagenBoton {
        width: 100%;
        display: flex;
    }
    
    .iconoDescarga {
        width: 24vh;
        margin: auto;
    }
    
    .iconoDescarga:hover {
        cursor:pointer;
    }
    .boton-publicarBusqueda {
        width: fit-content;
        margin: auto;
        margin-top: 6vh;
    }

    