.AcercaDelUsuario {
    width: 30%;
}

#descripcionUsuario {
    border-radius: 10%;
}

.avatares {
    display: flex;
    /* width: fit-content; */
    /* height: auto; */
    /* box-sizing: border-box; */
    width: 7vw;
}
<<<<<<< HEAD
=======

/* medias queries */
@media (max-width: 768px) { 
    .container{
       font-size: 1vw;
    }
}
>>>>>>> 39a434f67f93c21ad5f2f73f5fbc7ff79024858a
